*.pyc
*.egg-info/
*.egg
__pycache__/
*.idea/
build/
pidev/ShutdownModule/power_shutdown/*
!pidev/ShutdownModule/power_shutdown/power_shutdown.c
!pidev/ShutdownModule/power_shutdown/Makefile

RpiMIB/RpiMIB.cydsn/Generated_Source/

RpiMIB/RpiMIB.cydsn/Export/

RpiMIB/RpiMIB.cydsn/CortexM3/

RpiMIB/RpiMIB.cydsn/codegentemp/

RpiMIB/RpiMIB.cydsn/BUILD.log
