*.pyc
*.egg-info/
*.egg
__pycache__/
*.idea/
build/

RpiMIB/RpiMIB.cydsn/Generated_Source/

RpiMIB/RpiMIB.cydsn/Export/

RpiMIB/RpiMIB.cydsn/CortexM3/

RpiMIB/RpiMIB.cydsn/codegentemp/

RpiMIB/RpiMIB.cydsn/BUILD.log
